/*Background Elements*/
/*text elements*/
@font-face {
  font-family: "Poppins";
  src: url("../../../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
}
/* 
RESET SHEET - Josh W. Comeau
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  font-size: 20px;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Removing built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*END OF RESET SHEET*/
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #471d4f;
  color: #fff;
  align-items: center;
  padding: 10px;
}
.header__title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 1px #fff;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 20px;
  }
}
.header__subtitle {
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 18px;
  }
}
.header--home {
  background-image: url("../../assets/images/RickMortySplash.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f9f9f9;
  height: 812px;
  justify-content: start;
  padding-top: 70px;
}
.header--home__title {
  font-size: 36px;
  font-weight: 300;
  border-bottom: solid 1px #fff;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header--home__title {
    font-size: 45px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .header--home__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2880px) {
  .header--home__title {
    font-size: 60px;
  }
}
.header--home__subtitle {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header--home__subtitle {
    font-size: 33px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .header--home__subtitle {
    font-size: 50px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2880px) {
  .header--home__subtitle {
    font-size: 50px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  display: flex;
  justify-content: space-between;
}
.card__title--name {
  color: #471d4f;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .card__title--name {
    font-size: 18px;
  }
}
.card__title--status {
  color: #fff;
  font-size: 10px;
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .card__title--status {
    font-size: 14px;
  }
}
.card__title--Alive {
  background-color: #81ce7f;
}
.card__title--Dead {
  background-color: #d85252;
}
.card__title--unknown {
  background-color: #8f8f8f;
}
.card__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.card__box--img {
  width: 130px;
  border-radius: 5px;
  box-shadow: -3px 8px 12px -8px rgba(0, 0, 0, 0.25);
  align-self: first baseline;
}
.card__box-info {
  width: 180px;
}
.card__box-info--title {
  font-size: 10px;
  color: #8f8f8f;
}
@media screen and (min-width: 768px) {
  .card__box-info--title {
    font-size: 12px;
  }
}
.card__box-info--info {
  font-size: 14px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .card__box-info--info {
    font-size: 16px;
  }
}
.card__link {
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  background-color: #eee4f1;
  text-align: center;
  margin: 10px 5px;
}
@media screen and (min-width: 768px) {
  .card__link {
    font-size: 16px;
  }
}

.character-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.character-container__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.character-container__avatar--img {
  border: solid 4px #bea1c7;
  border-radius: 100px;
  width: 200px;
}
.character-container__avatar--name {
  font-size: 20;
  font-weight: 700;
  color: #471d4f;
  border-bottom: solid 1px #471d4f;
  margin-top: 15px;
}
.character-container__status {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
}
.character-container__status--alive {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #81ce7f;
  border-radius: 20px;
  height: 30px;
  width: 75px;
  margin: 0 10px 15px 0;
}
.character-container__status--dead {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d85252;
  border-radius: 20px;
  height: 30px;
  width: 75px;
  margin: 0 10px 15px 0;
}
.character-container__status--unknown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin: 0 10px 15px 0;
}
.character-container__details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.character-container__details--title {
  font-size: 14px;
  font-weight: 700;
  color: #8f8f8f;
  margin: 5px 0;
}
.character-container__details--content {
  background-color: #f2f2f2;
  color: #000;
  width: fit-content;
  height: fit-content;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
  padding: 5px 10px;
}
.character-container__details--content-location {
  background-color: #eee4f1;
  color: #471d4f;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.character-container__episode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  margin-bottom: 50px;
}
.character-container__episode--number {
  background-color: #eee4f1;
  text-align: center;
  color: #471d4f;
  border-radius: 20px;
  font-size: 18px;
  width: 50px;
  height: 30px;
  margin: 10px 10px 10px 0;
}

.card__location-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  color: #471d4f;
  background-color: #f3f3f3;
  border-radius: 20px;
  height: 50px;
  text-align: center;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: fit-content;
  margin: 20px 40px;
}
.card__container__row {
  margin: auto 40px;
  float: left;
  height: 30px;
  width: 1px; /* edit this if you want */
  background-color: #8f8f8f;
  margin: 0 20px;
}
.card__container__box--title {
  font-size: 10px;
  color: #8f8f8f;
  font-weight: 700;
}
.card__container__box--info {
  font-size: 14px;
  color: #000;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px;
}
.location-container--name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20;
  font-weight: 700;
  color: #471d4f;
  background-color: #f2f2f2;
  margin-top: 15px;
  width: 300px;
  height: 52px;
  border-radius: 20px;
}
.location-container__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.location-container__details--title {
  font-size: 14px;
  font-weight: 700;
  color: #8f8f8f;
  margin: 5px 0;
}
.location-container__details--content {
  background-color: #f2f2f2;
  color: #000;
  width: 270px;
  height: 30px;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
  padding-left: 10px;
}
.location-container__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  margin: 15px;
}
.location-container__box--residents {
  border-radius: 100px;
  width: 90px;
}

.card {
  width: 280px;
}
.card__season-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f3f3f3;
  color: #471d4f;
  font-size: 18px;
  height: 50px;
}
.card__date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card__date-container--title {
  font-size: 10px;
  color: #8f8f8f;
  font-weight: 700;
}
.card__date-container--date {
  font-size: 14px;
  color: #000;
}
.card__episode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__episode-container--title {
  font-size: 10px;
  color: #8f8f8f;
  font-weight: 700;
}
.card__episode-container--ep {
  width: 280px;
  color: #471d4f;
  font-size: 12px;
  font-weight: 700;
  background-color: #bea1c7;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.section__header {
  font-size: 14px;
  font-weight: 700;
  color: #471d4f;
  width: 100%;
  text-align: center;
  background-color: #bea1c7;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .section__header {
    font-size: 18px;
    height: 45px;
  }
}
.section__search {
  font-size: 14px;
  box-shadow: 3px 11px 2px -6px rgb(130, 130, 130);
  border: none;
  font-weight: 700;
  color: #471d4f;
  width: 300px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding-left: 40px;
  text-align: left;
  outline: none;
}
@media screen and (min-width: 768px) {
  .section__search {
    width: 700px;
  }
}
.section__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  border-bottom: 20px solid #471d4f;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    border-bottom: none;
  }
}
.footer__container {
  color: #8f8f8f;
  text-align: center;
  width: fit-content;
}
.footer__container--homelink {
  text-decoration: none;
}
.footer__container--title {
  /* Increase this as per requirement */
  padding-bottom: 1px;
  border-bottom: solid 1px #8f8f8f;
}
.footer__container--subtitle {
  font-weight: 700;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
  }
}
.footer__nav--link {
  text-decoration: none;
  color: #8f8f8f;
}
@media screen and (min-width: 768px) {
  .footer__nav--link {
    margin: 0 15px;
  }
}
.footer__nav--link:hover {
  padding-bottom: 1px;
  border-bottom: solid 1px #8f8f8f;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .nav {
    flex-direction: row;
    background-color: #563461;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: center;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #471d4f;
  background-color: #eee4f1;
  width: 280px;
  height: 150px;
  border-radius: 200px;
  margin: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav__link {
    font-size: 32px;
    width: 500px;
  }
}

.main {
  display: flex;
  justify-content: center;
}

.section-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  margin: 45px 20px;
}
@media screen and (min-width: 768px) {
  .section-home {
    font-size: 20px;
    max-width: 400px;
  }
}
.section-home__line {
  width: 125px;
  border: solid 1px #8f8f8f;
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  .section-home__line {
    border: solid 2px #8f8f8f;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: fit-content;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    min-width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    min-width: 350px;
    max-width: 400px;
  }
}
.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  background-color: #eee4f1;
  text-align: center;
  margin: 10px 5px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .card__link {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */