/*Background Elements*/
$bg-1: #f9f9f9;
$bg-2: #f3f3f3;
$bg-3: #eee4f1;
$bg-4: #563461;
$bg-5: #bea1c7;

/*text elements*/
$text-1: #fff;
$text-2: #8f8f8f;
$text-3: #471d4f;
$text-4: #000;

$bg-status-alive: #81ce7f;
$bg-status-dead: #d85252;
$bg-status-unknown: #f2f2f2;
